<div class="footer-outer">
  <div class="footer-inner">
    <div class="container">
      <div class="row footer-item-outer">
        <div class="footer-item-inner d-flex align-items-center justify-content-between p-2">
          <div class="text-center copy-right">&copy; 2023 tasheela jayawickrama All rights reserved</div>
          <div class="text-end">
            <div class="social-profiles d-flex gap-2">
              <a href="https://www.facebook.com/profile.php?id=100081312646945"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/in/tasheela-jayawickrama-295878252/"><i class="fa-brands fa-linkedin-in"></i></a>
              <a href="https://github.com/Tasheela99/"><i class="fa-brands fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
