$primary-color: #ffa502;
$secondary-color: #2f3542;
$primary-hover-color: #eccc68;
$app-color: #f1f2f6;
$app-font: Rubik, sans-serif;
.about-outer{
  .about-inner{
    .about-landing{
      width: 100%;
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/assets/images/about.jpg");
      background-position: center;
      background-size: cover;
      
      h1{
        color: $primary-color;
        font-weight: 900;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 7px;

      }


    }

    .section-outer{
      background-color: #FFFFFF;
    }
  }
}
