<div class="contact-outer">
  <div class="contact-inner">
    <div class="contact-landing">
      <h1 class="text-center">Contact</h1>
    </div>
  </div>
  <div class="contact-details-outer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="title">Contact Me On</h1>
        </div>
      </div>
      <div class="row contact-row">
        <div class="col-12 col-lg-4 contact-items">
          <div class="contact-item-inner">
            <div class="mobile">
              <mat-icon>phone</mat-icon>
              <p>if you need any help don't hesitate to contact me. i am always available on <span class="whatsapp">whatsapp </span>,
                <span class="telegram">telegram </span> and <span class="viber">viber </span></p>
              <p>+94766308272</p>
              <a href="tel:+94766308272"><button mat-raised-button>Call Me</button></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 contact-items">
          <div class="contact-item-inner">
            <div class="email">
              <mat-icon>email</mat-icon>
              <p>if you need any help don't hesitate to contact me. i am always available on <span class="mail">Email </span></p>
              <p>tasheelajay1999@gmail.com</p>
              <a href="mailto:tasheelajay1999@gmail.com" target="_blank"><button mat-raised-button>Email Me</button></a>
            </div>
          </div>

        </div>
        <div class="col-12 col-lg-4 contact-items">
          <div class="contact-item-inner">
            <div class="address">
              <mat-icon>place</mat-icon>
              <p>if you want go get help from me you can find me on this <span class="location">location</span></p>
              <p>Matale, SriLanka</p>
              <a href="mailto:tasheelajay1999@gmail.com" target="_blank"><button mat-raised-button>Find Me</button></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="map-area">
    <div class="map-area-inner">
      <div class="container">
        <div class="row">
          <app-contact-me-section></app-contact-me-section>
        </div>
      </div>
    </div>
  </div>

</div>
