<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 about-left d-flex align-items-center justify-content-center">
      <img src="assets/images/my-logo.png" alt="My-Logo">
    </div>
    <div class="col-12 col-lg-6 about-right">
      <h1 class="title">About me</h1>
      <h3 class="my-jobs">
        Web Developer | Software Developer | UI/UX Developer
      </h3>
      <p class="my-self">
        {{myself}}
      </p>
      <div class="social-profiles">
        <a href="https://www.facebook.com/profile.php?id=100081312646945"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.linkedin.com/in/tasheela-jayawickrama-295878252/"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://github.com/Tasheela99/"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>
</div>
