<div class="row">
  <div class="col-12 col-lg-6 contact-left">
    <h2>Get In Touch</h2>
    <p>{{getInTouch}}</p>
    <div class="contact-details">
      <div class="mobile">
        <mat-icon>phone</mat-icon>
        +94766308272
      </div>
      <div class="email">
        <mat-icon>email</mat-icon>
        tasheelajay1999@gmail.com
      </div>
      <div class="address">
        <mat-icon>place</mat-icon>
        Matale, SriLanka
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 contact-right">
    <h2>Contact Form</h2>
    <div class="form">
      <form class="example-form">
        <mat-form-field class="w-100"  appearance="outline" color="accent" >
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name">
        </mat-form-field>

        <mat-form-field class="w-100"  appearance="outline" color="accent">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field class="w-100"  appearance="outline" color="accent">
          <mat-label>Message</mat-label>
          <textarea matInput placeholder="Message" rows="6"></textarea>
        </mat-form-field>
        <button mat-raised-button class="send-message-btn">Send Message</button>
      </form>
    </div>
  </div>

</div>
